.fm-squada{
 font-family: $tw-font-squada; 
}
.fm-paytone{
  font-family: $tw-font-paytone; 
}

.vertical-lr{
  writing-mode:vertical-lr;
}

.logo {
  width: 85px;
  height: 18px;
  text-indent:101%; /*首行縮排*/
  overflow:hidden; /*自動隱藏超出的文字或圖片*/
  white-space:nowrap; /*希望元素在第一排上面，沒有斷行*/
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../assets/images/logo.svg);
  @include media-breakpoint-up(lg) {
    width: 190px;
    height: 40px;

  }
}
header{
  .material-icons{
    font-size: 20px;
  }
}

.container-lg{
  padding: 0;
  @include media-breakpoint-up(lg) {
    padding: 0 12px;
  }
}

.navbar-dark .navbar-toggler {
  /* color: rgba(255, 255, 255, 0.55); */
  /* border-color: rgba(255, 255, 255, 0.1); */
  color:$primary;
  border-color:$primary;
}


.nav-item{
  // border-left: 1pt solid #000;
  @include media-breakpoint-up(lg) {
    border-left: 1pt solid #000;
  }
}
.header-search{
  border-left: 1pt solid #000;
  display: none;

  @include media-breakpoint-up(lg) {
    display: block;
  }

}
.fa-magnifying-glass{
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
  }

}
.header-search-input{
  width: 279px;
  @include media-breakpoint-up(lg) {
    width: 288px;;
  }
}


.offcanvas{
  height: 52px;
}